*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

body {
     font-family: Verdana, sans-serif;
     background-color: black;
    text-align: center;
 }
 .title1 {
     padding-top: 50px;
     font-size: 50px;
     font-weight: normal;
     text-align: center;
     color: white;
 }
 .link {
     padding-top: 80px;
     text-decoration: underline;
     font-size: 16px;
     color: aquamarine;
     text-align: center;
 }
 video {
     object-fit: contain;
     padding-top: 20px;
 }
 .title2 {
     padding-top: 80px;
     font-size: 42px;
     font-weight: 300;
     color: white;
 }
 .title_low {
     padding-top: 50px;
     font-size: 21px;
     color: gray;
 }
 .camp {
     padding-top: 20px;
 }
 .phone {
     padding-top: 30px;
 }
 .title3 {
     padding-top: 50px;
     font-size: 42px;
     font-weight: 300;
     color: white;
 }
.link2 {
    padding-top: 50px;
    text-decoration: underline;
    font-size: 16px;
    color: aquamarine;
    text-align: center;
}
.copyright {
    padding: 20px 20px 20px 0px;
    text-align: right;
    color: gray;
}